<!DOCTYPE html>
<html>

<head>
    <title>get all user</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>

<body>
    <div class="row">
        <% for (let p of people)  
      {%>
            <p>
                Tên user: <b> <%=p.userName%> </b> <br>
            </p>
            <p>
                email: <b> <%=p.email %> </b>
            </p>
            <hr>
            <%} 
      %>
    </div>
</body>

</html>